.base{
    background-image: url('../../../assets/images/base.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 160px;
    width: 180px;
}

.selected{
    border-style: double;
    border-color: red;
}