<div class="d-flex flex-wrap">
    <div class="p-2 text-warning bold">
        #Bombs: {{this.plane.bombs.length}}
    </div>
    <div class="p-2 text-warning bold">
        #Guns: {{this.plane.guns.length}}
    </div>
    <div class="p-2 text-warning bold">
        #Motors: {{this.plane.motors.length}}
    </div>
    <div class="p-2 text-warning bold">
        #Altitude: {{this.plane.altitude}}
    </div>
    <div class="p-2 text-warning bold">
        #Motor On: {{this.plane.motorsRunning}}
    </div>
    <div class="p-2 text-warning bold">
        #In Flight: {{this.plane.isFlying}}
    </div>
</div>