<div class="d-flex flex-wrap stats">
    <div class="p-2 text-warning bold">
        #Bombs: {{this.plane.bombs.length}}
    </div>
    <div class="p-2 text-warning bold">
        #Guns: {{this.plane.guns.length}}
    </div>
    <div class="p-2 text-warning bold">
        #Motors: {{this.plane.motors.length}}
    </div>
    <div class="p-2 text-warning bold">
        #Altitude: {{this.plane.altitude}}
    </div>
    <div *ngIf="this.plane.isFlying" class="p-2 text-warning bold">
        In Flight
    </div>
    <div *ngIf="!this.plane.isFlying" class="p-2 text-warning bold">
        On Ground
    </div>
    <div *ngIf="this.plane.motorsRunning" class="p-2 text-warning bold">
        Motor On
    </div>
    <div *ngIf="!this.plane.motorsRunning" class="p-2 text-warning bold">
        Motor Off
    </div>
</div>