<div class="map minHieght">
<div class="d-flex">
    <h2 class="p-2 text-warning bold">Welcome to Air Destroyer</h2>
</div>

<div class="d-inline-flex">
    <div class="p-2">
        <button type="button" class="btn btn-dark" (click)="battleField.addPlane()">Add Plane</button>
    </div>
    <div class="p-2">
        <button type="button" class="btn btn-dark" (click)="battleField.addBase()">Add Base</button>
    </div>
</div>

<div class="d-flex justify-content-between p-2 minHieght">
        <div class="align-self-center">
            <div *ngFor="let plane of battleField.planes" class="d-flex p-2">
                <div class="justify-content-center">
                    <app-plane [plane]="plane"></app-plane>
                </div>
            </div>
        </div>

        <div class="align-self-center">
        </div>

        <div class="align-self-center">
            <div *ngFor="let base of battleField.bases" class="d-flex">
                <div>
                    <app-base [base]="base"></app-base>
                </div>
            </div>
        </div>
</div>
</div>