.plane{
    background-image: url('../../assets/images/jetPlane.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 180px;
    width: 180px;
}

.base{
    background-image: url('../../assets/images/base.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 180px;
    width: 180px;
}